In [1]:
import os
import cv2
import json
import numpy as np
import pandas as pd
import tifffile as tiff
from tqdm import tqdm
from PIL import Image
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/tile_meta.csv")
df.head()

             id  source_wsi  dataset      i      j
0  0006ff2aa7cd           2        2  16896  16420
1  000e79e206b7           6        3  10240  29184
2  00168d1b7522           2        2  14848  14884
3  00176a88fdb0           7        3  14848  25088
4  0033bbc76b6b           1        1  10240  43008

In [3]:
target_df = df[df["dataset"] == 3]

In [7]:
print(len(target_df))

5400

In [4]:
os.makedirs('../data/dataset3_images', exist_ok=True)

for i, tldc in target_df.iterrows():
    array = tiff.imread(f'../data/train/{tldc["id"]}.tif')
    img_example = Image.fromarray(array)
    img = np.array(img_example)
    cv2.imwrite(f'../data/dataset3_images/{tldc["id"]}.png', img)
        # cv2.imwrite(f'../data/mask_images/{tldc["id"]}.png', mask)
        # all_ids.append({tldc["id"]})

In [6]:
!ls ../data/dataset3_images/ | wc

   5400    5400   91800